</main>
<footer class="footer">
    <div class="content">
        <p class="copy">&copy; Иван Космынин 2022<% if (current_year != 2022) { %>-<%= current_year %><% } %></p>
        <p class="tt-link"><a target="_blank" href="https://github.com/pess-sander/"><i class="fa-brands fa-github"></i> pess_sander</a></p>
    </div>
</footer>
</body>
</html>