<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">

    <!-- FAVICON -->
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
    <link type="Image/x-icon" href="/favicon.ico" rel="icon">

    <!-- FONTS -->
    <script src="https://kit.fontawesome.com/5b9bb9092c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville&family=Lora:ital,wght@0,400;1,600&family=Montserrat:ital,wght@0,400;0,500;1,300&family=PT+Sans&family=Pinyon+Script&family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <!-- STYLES -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
<header class="header">
    <div class="content">
        <div class="logo">
            <a class="logo-link" href="/">Shakespea.ru</a>
        </div>
        <nav class="nav">
            <a class="nav-link" href="/books">Книги</a>
            <a class="nav-link" href="/dictionary">Словарь</a>
        </nav>
    </div>
</header>
<div class="move-up" id="move-up"></div>
<main class="content">