<%- include('partials/header.ejs') %>

<div class="books-wrapper">
<p class="book-list-title">Книги</p>
<div class="book-list">
    <a class="book-list-item" href="/books/hamlet">
        <img class="book-list-img" src="/imgs/hamlet-teaser.jpg" alt="Hamlet">
        <p class="book-list-text">Hamlet</p>
    </a>
    <a class="book-list-item" href="/books/macbeth">
        <img class="book-list-img" src="/imgs/macbeth-teaser.png" alt="Macbeth">
        <p class="book-list-text">Macbeth</p>
    </a>
    <a class="book-list-item" href="/books/romeo-and-juliet">
        <img class="book-list-img" src="/imgs/romeo-teaser.png" alt="Romeo and Juliet">
        <p class="book-list-text">Romeo and Juliet</p>
    </a>
</div>
</div>

<%- include('partials/footer.ejs') %>