<%- include('partials/header.ejs') %>

<div class="home-wrapper">

<img class="portrait" src="/imgs/shakespeare.jpg" alt="Shakespeare">

<p class="home-text">На данном сайте представлены оригинальные тексты произведений Шекспира, а также удобные инструменты для изучения влияния Великого Драматурга на современный английский язык.</p>

</div>

<%- include('partials/footer.ejs') %>