.footer {
    /* border-top: rgb(254, 252, 252) 5px solid; */
    height: 150px;
}

.footer .content {
    background-color: transparent;
    text-align: center;
    padding-top: 70px;
    font-size: 1.15em;
    font-family: 'PT Sans', sans-serif;
    color: black;
    background-color: rgb(251, 236, 235);
    border-top: rgb(238, 184, 184) 2px solid;
}